@import 'custom';
@import '~bootstrap/scss/bootstrap';

nav {
  background-color: $primary;
  ul a:hover {
    text-decoration: underline !important;
  }
  @media (max-height: 575.98px), (max-width: 1199.98px) {
    .dropdown-menu {
      max-height:300px;
      overflow-y: scroll;
    }
  }
}

body {
  background-color: white;
  &>.container {
    background-color: lighten($secondary, 15%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
  }
}

footer {
  background-color: darken($info, 12%);
}

div.carousel-caption * {
  padding-bottom: 20px !important;
}
