$red: #711610;
$blue: #160F70;
$orange: #fd7e14;

$primary: $red;
$success: #00FF00;
$secondary: #E6D9AA;
$danger : $orange;
$info   : $blue;

//$font-family-base: Georgia, "Times New Roman", Times, serif;
$link-color: $primary;
$gray: #9A999D;
$navbar-dark-color: rgba(#FFFFFF, 1);
$navbar-dark-hover-color: rgba(#FFFFFF, 1);
$navbar-dark-hover-decoration: underline;
$table-border-color: $primary;
$border-color: $primary;

$body-bg: lighten($secondary, 15%);
$dropdown-bg: lighten($secondary, 15%);
