.table-schedule {

  th, td {
    text-align: center;
    @media (max-width: 767.98px) {
      font-size: 0.75rem;
    }
    @media (max-width: 575.98px) {
      font-size: 0.6rem;
      font-weight: normal;
    }
    a {
      text-align: center;
      @media (max-width: 767.98px) {
        font-size: 0.75rem;
      }
      @media (max-width: 575.98px) {
        font-size: 0.6rem;
      }
      padding: 0px;
      width: calc(100% - 2px);
    }
    padding: 0px;
  }
}
