{% extends 'base.html.twig' %}

{% block title %}Announcement Nº {{ announcement.id }}{% endblock %}

{% block container %}
<h2>
  Announcement Nº {{ announcement.id }}<br/>
  <small class="text-muted">{{ announcement.title }}</small>
</h2>
<div class="row">
  <div class="col-lg-8">
    <object class="img-fluid" data="{{ asset('cms/announcement/' ~ announcement.id ~ '.pdf') }}", style="width: 100%; height: calc(100vh - 126.4px);">
      alt : <a href="{{ asset('cms/announcement/' ~ announcement.id ~ '.pdf') }}">{{ announcement.id ~ '.pdf' }}</a>
    </object>
  </div>

  <div class="col-lg-4">
    <h4>
      Lastest Announcements
    </h4>
    <ul class="list-unstyled">
    {% for announcement in announcements|reverse %}
      <li><a href="{{ path('cms_announcement', {id: announcement.id}) }}">Announcement Nº {{ announcement.id }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
{% endblock %}
