{% extends 'base.html.twig' %}

{% block title %}Decano{% endblock %}

{% block container %}
<h2>Decano</h2>
<div class="row">
  <div class="col-md-6">
    Ingeniero Civil, graduado de la UNI (Universidad Nacional de Ingeniería), y con un doctorado de lÉcole des Ponts et Chaussées de Francia. Tiene más de 20 años ejerciendo como docente principal en la Facultad de Ing. Civil de la UNI y constantemente apoya el desarrollo de diplomados y maestrías en todo el territorio peruano.
  </div>
  <div class="col-md-6">
    <img class="img-fluid" src="/fic-uni/public/photos/decano.jpg" alt="Foto del Decano"/>
  </div>
</div>
{% endblock %}
