{% extends 'ficuni/base.html' %}
{% load l10n %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Announcement" %} {{ announcement.code }}{% endblock %}

{% block container %}
<h2>
  {% trans "Announcement" %} {{ announcement.code }}
  <small class="text-muted">{{ announcement.title }}</small>
</h2>
<div class="row">
  <div class="col-lg-8">
    <object class="img-fluid" data="{% get_media_prefix %}{{ announcement.file }}", style="width: 100%; height: calc(100vh - 126.4px);">
      <a href="{% get_media_prefix %}{{ announcement.file }}">{{ announcement.code }}.pdf</a>
    </object>
  </div>
  <div class="col-lg-4">
    <ul>
    {% for month, l in announcement_list %}
      <li>{{ month|date:"F Y" }}
        <ul>
          {% for a in l %}
          <li><a href="{% url 'ficuni:announcement_detail' a.code %}">{% trans "Announcement" %} {{ a.code }}<br/>({{ a.pub_date}})</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
