{#{% load static i18n flatpages_i18n %}#}
{% load static i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% load render_bundle from webpack_loader %}
{% load analytical %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% analytical_head_top %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Facultad de Ingeniería Civil - UNI{% endblock %}</title>
    {% block stylesheets %}
    {% render_bundle 'base' 'css' %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    {% analytical_head_bottom %}
  </head>
  <body>
    {% analytical_body_top %}
    {% block navbar %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="{% url 'ficuni:index' %}">
        <img class="d-inline-block align-top" src="{% static 'ficuni/images/UNI_logo.svg' %}" height="30" alt="Logo UNI">
        FIC-UNI
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans "About the career" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% comment %}
              {% get_flatpage_i18n 'mission_vision' as mission_vision_flatpage %}
              <a class="dropdown-item" href="/{{ LANGUAGE_CODE }}{{ mission_vision_flatpage.url }}">
                {{ mission_vision_flatpage.title }}
              </a>
              {% get_flatpage_i18n 'dean' as dean_flatpage %}
              <a class="dropdown-item" href="/{{ LANGUAGE_CODE }}{{ dean_flatpage.url }}">
                {{ dean_flatpage.title }}
              </a>
              <div class="dropdown-divider"></div>
              {% get_flatpage_i18n 'entrant_profile' as entrant_profile_flatpage %}
               <a class="dropdown-item" href="/{{ LANGUAGE_CODE }}{{ entrant_profile_flatpage.url }}">
                {{ entrant_profile_flatpage.title }}
              </a>
              {% get_flatpage_i18n 'graduate_profile' as graduate_profile_flatpage %}
              <a class="dropdown-item" href="/{{ LANGUAGE_CODE }}{{ graduate_profile_flatpage.url }}">
                {{ graduate_profile_flatpage.title }}
              </a>
              <div class="dropdown-divider"></div>
              {% endcomment %}
              <a class="dropdown-item" href="{% url 'ficuni:deanery' %}">
                {% trans "Dean" %}
              </a>
              <a class="dropdown-item" href="{% url 'ficuni:department_list' %}">
                {% trans "Departments" %}
              </a>
              <a class="dropdown-item" href="{% url 'ficuni:electives_by_department' %}">
                {% trans "Courses" %}
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans "Information for students" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'ficuni:cruce_horarios' %}">Cruce de horarios</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans "Institutes, centres and laboratories" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="tooltip" title="Instituto de Investigación de la FIC" target="_blank" href="http://www.iific.uni.edu.pe">IIFIC</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Instituto para la Mitigación de los Efectos del Fenómono El Niño" target="_blank" href="http://www.imefen.uni.edu.pe">IMEFEM</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Centro de Cómputo de la FIC" target="_blank" href="http://ccfic.uni.edu.pe">CC-FIC</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Centro Peruano Japonés de Investigaciones Sísmicas y Mitigación de Desastres" target="_blank" href="http://www.cismid.uni.edu.pe">CISMID</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Centro de Educación Continua FIC" target="_blank" href="http://cecfic.uni.edu.pe">CEC-FIC</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Acreditación FIC" target="_blank" href="http://www.acreditacionfic.uni.edu.pe">Acreditación FIC</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Postgrado FIC" target="_blank" href="http://www.postgradofic.uni.edu.pe/">Postgrado FIC</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="http://www.labdcv.uni.edu.pe">Lab. de Diseño y Construcción Virtual</a>
              <a class="dropdown-item" target="_blank" href="http://www.lem.uni.edu.pe">Lab. de Ensayo de Materiales</a>
              <a class="dropdown-item" target="_blank" href="http://www.lms.uni.edu.pe">Lab. de Mecánica de Suelos</a>
              <!--<a class="dropdown-item disabled" href="#">Lab. Nacional de Hidráulica</a>-->
              <!--<a class="dropdown-item disabled" href="#">Lab. de Física</a>-->
              <a class="dropdown-item" target="_blank" href="http://www.labquimica.uni.edu.pe">Lab. de Química</a>
              <!--<div class="dropdown-divider"></div>-->
              <!--<a class="dropdown-item disabled" href="#">Biblioteca «Alberto Regal»</a>-->
            </div>
          </li>
        </ul>
      </div>
    </nav>
    {% endblock %}

    {% block body %}
    <div class="container py-4 px-sm-5">
      {% block container %}
      {% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    <footer class="pt-5 text-light">
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3 pb-4 text-center">
              <a target="_blank" href="http://www.uni.edu.pe">
                <img src="{% static 'ficuni/images/UNI_logo3.svg' %}" alt="Logo UNI" height="67">
              </a>
            </div>
            <div class="col-sm-6 col-lg-3 pb-4 text-center">
              <a target="_blank" href="http://www.abet.org">
                <img src="{% static 'ficuni/images/ABET_logo.svg' %}" alt="Logo ABET" height="67">
              </a>
            </div>
            <div class="col-sm-6 col-lg-3 pb-4">
              <h5>{% trans "Academics" %}</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-light" href="{% url 'ficuni:electives_by_department' %}">{% trans "Courses" %}</a></li>
                <li><a class="text-light" href="{% url 'ficuni:department_list' %}">{% trans "Departments" %}</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-3 pb-4">
              <h5>{% trans "Language" %}</h5>
              <form class="form-inline" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                  <input name="next" type="hidden" value="{% url 'ficuni:index' %}">
                <select name="language" class="form-control form-control-sm">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                      {{ language.name_local }} ({{ language.code }})
                    </option>
                  {% endfor %}
                </select>
                <button type="submit" class="btn btn-dark btn-sm" value="Go">Go</button>
              </form>
            </div>
          </div>
      </div>
    </footer>
    {% endblock %}

    {% block javascripts %}
      {% render_bundle 'base' 'js' %}
    {% endblock %}
    {% analytical_body_bottom %}
  </body>
</html>
