{% extends 'ficuni/course_list.html' %}

{% block title %}
    {% if current_cycle.id < 11 %}
      Ciclo {{ current_cycle.id }}
    {% else %}
      Electivos
    {% endif %}
{% endblock %}

{% block course_list %}
    <h3>
      {% if current_cycle.id < 11 %}
        Ciclo {{ current_cycle.id }}
      {% else %}
        Electivos
      {% endif %}
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Curso</th>
          <th scope="col">Créd.</th>
          <th scope="col">Dept.</th>
        </tr>
      </thead>
      <tbody>
        {% for course in course_list %}
        <tr>
          <th scope="row">
            <a href="{% url 'ficuni:course_detail' course.code %}">{{ course.code }}</a>
          </th>
          <td>
            <a href="{% url 'ficuni:course_detail' course.code %}">
                {{ course.name }}
            </a>
           </td>
          <td>
            {{ course.num_of_credits }}
          </td>
          <td>
            <a href="{% url 'ficuni:department_detail' course.department.id %}">{{ course.department.acronym }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
