{% extends 'ficuni/base.html' %}

{% block container %}
<div class="row">
  <div class="col-md-3">
    <h4>Ciclo</h4>
    <ul class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% for cycle in cycle_list %}
      <li class="{% if cycle.id < 11 %}w-50{% else %}w-100{% endif %}">
        {# TODO: Use ARIA #}
        <a class="nav-link text-center {% if cycle.id == current_cycle.id %}active{% endif %}"
          href="{% url "ficuni:course_by_cycle" cycle.id %}">
          {% if cycle.id < 11 %}
            Ciclo {{ cycle.id }}
          {% else %}
            Electivos
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-9">
    {% block course_list %}
    {% endblock %}
  </div>
</div>
{% endblock %}
