{% extends 'ficuni/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {{ course.code }} - {{ course.name }}
{% endblock %}

{% block stylesheets %}
{% render_bundle 'course_detail' 'css' %}
{% endblock %}

{% block container %}
<h2 class="pb-4">
  {{ course.name }}
  <small class="text-muted">{{ course.code }}</small>
</h2>
<div class="row">
  <div class="col-lg-3 col-xl-4">
    <h3>Reseña</h3>
    {#<p>{{ course.summary }}</p>#}
  </div>
  <div class="col-lg-9 col-xl-8">
    <h3>Secciones</h3>
    <div id="root">
      Cargando...
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  const course_id = '{{ course.id }}';
  const pathCourseJson = '/api/courses';
  const pathTeacherDetail = '/teacher/';
</script>
{% render_bundle 'course_detail' 'js' %}
{% endblock %}
