{% extends 'ficuni/base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}
  Cruce de Horarios
{% endblock %}

{% block stylesheets %}
{% render_bundle 'cruce_horarios' 'css' %}
{% endblock %}

{% block container %}
<h2>
Cruce de horarios
</h2>

<p>
  El programa es sólo una ayuda para los alumnos.
  Es su responabilidad verificar si está conforme al Reglamento de Matrícula y a las Cargas Académicas oficiales.
  Ni la Oficina de Estadística ni el Centro de Cómputo de la FIC se responsabilizan de los datos o del uso de esta página.
</p>
<div id="root">
Cargando...
</div>
{% endblock %}

{% block javascripts %}
<script>
  const pathTeacherDetail = '/teacher';
  const pathDepartmentDetail = '/department';
  const pathCourseDetail = '/course';
  const pathCourseList = '/courses';
  const pathCourseJson = '/api/courses';
  const pathShareSchedule = '/compartir-horario';
</script>
{% render_bundle 'cruce_horarios' 'js' %}
{% endblock %}
