{% extends 'ficuni/base.html' %}
{% load static %}

{% block title %}
  Decano
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-lg-8">
      <h1>Decano</h1>
      <h3>Dr. Rafael Salinas Basualdo</h3>
      <p>
      	Especialista en Ingeniería Estructural con proyectos y consultorías realizadas para empresas e instituciones de los sectores público y privado. Participación, como Jefe de Proyecto y Profesional Especialista, en estudios y proyectos multidisciplinarios para edificaciones y obras de ingeniería civil para los sectores minero, vivienda e industrial; puentes urbanos y rurales; análisis de vibraciones en estructuras, estudios de vulnerabilidad sísmica y riesgo sísmico de edificaciones, estudios de evaluación y mejora del desempeño sísmico de edificaciones existentes. Miembro del Comité Técnico Permanente de la Norma Peruana de Diseño Sismorresistente. Conferencista y expositor en Congresos Nacionales e Internacionales de la especialidad.
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="{% static 'ficuni/images/dean.jpg' %}" class="img-fluid" alt="Foto Decano" />
    </div>
  </div>
{% endblock %}
