{% extends 'ficuni/base.html' %}

{% block title %}
  {{ department.acronym }} - Dept. Acad. de {{ department.name }}
{% endblock %}

{% block container %}
<ul class="nav nav-tabs justify-content-end">
  {% for dept in department_list %}
  <li class="nav-item">
    {# TODO: Use ARIA #}
    <a class="nav-link text-center {% if department.id == dept.id %}active{% endif %}"
      href="{% url "ficuni:department_detail" dept.acronym %}">
      {{ dept.acronym }}
    </a>
  </li>
  {% endfor %}
</ul>
<h2 class="pt-3">
  Departamento Académico de {{ department.name }}
  <p class="lead">{{ department.code }}</lead>
</h2>
<div class="row">
  <div class="col-lg-5">
    {% comment %}
    // It'd be nice if there were summaries :c
    <h3>Reseña</h3>
    <div class="text-justify">
      {{ department.summary }}
    </div>
    {% endcomment %}
    <h3>Organización</h3>
    <div class="">
      {{ department.organization|safe }}
    </div>

  </div>
  <div class="col-lg-7">
    <h3>Cursos</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Curso</th>
          <th scope="col">Créditos</th>
          <th scope="col">Ciclo</th>
        </tr>
      </thead>
      <tbody>
        {% for course in department.course_set.all %}
        <tr>
          <th scope="row"><a href="{% url 'ficuni:course_detail' course.code %}">{{ course.code }}</a></th>
          <td><a href="{% url 'ficuni:course_detail' course.code %}">
              {{ course.name }}
          </a></td>
          <td>{{ course.num_of_credits }}</td>
          <td>{{ course.cycle.id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Profesores</h3>
    <table class="table">
      <thead>
        <th scope="col">Código</th>
        <th scope="col">Docente</th>
        <th scope="col">Categoría</th>
      </thead>
      <tbody>
        {% for teacher in department.teacher_set.all %}
        <tr>
          <th scope="row">
            <a href="{% url 'ficuni:teacher_detail' teacher.id %}">{{ teacher.code }}</a>
          </th>
          <td>
            <a href="{% url 'ficuni:teacher_detail' teacher.id %}">{{ teacher.grade}} {{ teacher.last_name }}, {{ teacher.first_name }}</a>
          </td>
          <td>
            {{ teacher.category.name }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
