{% extends 'ficuni/base.html' %}

{% block container %}
<div class="row">
{% for department in department_list %}
  <div class="col-sm-6">
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">{{ department.acronym }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Dept. Acad. de {{ department.name }}</h6>
        <div class="card-text text-justify">
          {{ department.summary }}
        </div>
        <a href="{% url 'ficuni:department_detail' department.acronym %}" class="card-link">Ver más</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
