{% extends 'ficuni/course_list.html' %}

{% block course_list %}
    <h3>Electivos</h3>
    {% for department in department_list %}
    <h4>Departamento Académico de {{ department.name }}</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Curso</th>
          <th scope="col">Créd.</th>
        </tr>
      </thead>
      <tbody>
        {% for course in department.course_set.all %}
        {# TODO: NOT USE IF TO FILTER!, but it works #}
        {% if course.cycle.id == 11 %}
        <tr>
          <th scope="row">
            <a href="{% url 'ficuni:course_detail' course.code %}">
              {{ course.code }}
            </a>
          </th>
          <td>
            <a href="{% url 'ficuni:course_detail' course.code %}">
              {{ course.name }}
            </a>
           </td>
          <td>
            {{ course.num_of_credits }}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
{% endblock %}
