{% extends 'ficuni/base.html' %}
{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
{% render_bundle 'index' 'css' %}
{% endblock %}

{% block body %}
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-img"></div>
      <div class="carousel-caption mb-lg-5">
        <a target="_blank" href="http://www.uni.edu.pe">
          <img class="mb-2" src="{% static 'ficuni/images/UNI_logo.svg' %}" alt="Logo UNI" height="200" />
        </a>
        <h2>{% trans "National University of Engineering" %}</h2>
        <p class="h3">{% trans "UNI, science and technology at the service of the country" %}</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-img"></div>
      <div class="carousel-caption mb-lg-5">
        <h1>{% trans "College of Civil Engineering" %}</h1>
        <p class="h3">{% trans "Building the country of the future" %}</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-img"></div>
      <div class="carousel-caption mb-lg-5">
        <a target="_blank" href="http://main.abet.org/aps/AccreditedProgramsDetails.aspx?OrganizationID=9575&ProgramIDs=5559">
          <img class="mb-2" src="{% static 'ficuni/images/ABET_logo.svg' %}" alt="Logo ABET" height="150" />
        </a>
        <h2>{% trans "Accredited by ABET"  %}</h2>
        <p class="h3">Accreditation Board for Engineering and Technology, Inc.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container px-5">
  <div class="py-4 border-bottom">
    <h2>{% trans "Lastest Announcements" %}</h2>
    <div class="row">
    {% for announcement in announcement_list|slice:":3" %}
      <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card">
          <h6 class="card-header">
            <a href="{% url 'ficuni:announcement_detail' announcement.code %}">
              {% trans "Anncmnt"  %} {{ announcement.code }}
            </a>
          </h6>
          <div class="card-body">
            <p class="card-text">
              <a href="{% url 'ficuni:announcement_detail' announcement.code %}">
                {{ announcement.title }}
              </a>
            </p>
          </div>
          <div class="card-footer">
            {{ announcement.pub_date|timesince }}
          </div>
        </div>
      </div>
    {% endfor %}
      <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card">
          <ul class="list-group list-group-flush">
          {% for announcement in announcement_list|slice:"3:9" %}
            <li class="list-group-item">
              <a href="{% url 'ficuni:announcement_detail' announcement.code %}">
                {% trans "Anncmnt"  %} {{ announcement.code }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 border-top">
    <h2>{% trans "Recent News" %}</h2>
    <div class="row">
    {% for newsletter in newsletter_list|slice:":3" %}
      <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card">
          <h6 class="card-header">
            <a href="{% url 'ficuni:newsletter_detail' newsletter.newsletter_type.slug newsletter.code %}">
              {{ newsletter.newsletter_type.name }} Nº {{ newsletter.code }}
            </a>
          </h6>
          <div class="card-body">
            <p class="card-text">
              <a href="{% url 'ficuni:newsletter_detail' newsletter.newsletter_type.slug newsletter.code %}">
                {{ newsletter.title }}
              </a>
            </p>
          </div>
          <div class="card-footer">
            {{ newsletter.pub_date|timesince }}
          </div>
        </div>
      </div>
    {% endfor %}
      <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card">
          <ul class="list-group list-group-flush">
          {% for newsletter in newsletter_list|slice:"3:9" %}
            <li class="list-group-item">
              <a href="{% url 'ficuni:newsletter_detail' newsletter.newsletter_type.slug newsletter.code %}">
                {{ newsletter.newsletter_type.name }} Nº {{ newsletter.code }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  const images = [
    '{% static 'ficuni/images/foto1_1.jpg' %}',
    '{% static 'ficuni/images/foto2_1.jpg' %}',
    '{% static 'ficuni/images/foto3_1.jpg' %}',
  ];
</script>
{% render_bundle 'index' 'js' %}

{% endblock %}
