{% extends 'ficuni/base.html' %}
{% load l10n %}
{% load i18n %}
{% load static %}

{% block title %}{{ newsletter.newsletter_type.name }} Nº {{ newsletter.code }}{% endblock %}

{% block container %}
<h2>Comunidad FIC Nº {{ newsletter.code }}</h2>
<div class="row">
  <div class="col-lg-8">
    <object class="img-fluid" data="{% get_media_prefix %}{{ newsletter.file }}", style="width: 100%; height: calc(100vh - 126.4px);">
      <a href="{% get_media_prefix %}{{ newsletter.file }}">{{ newsletter.code }}.pdf</a>
    </object>
  </div>
  <div class="col-lg-4">
    <ul>
    {% for month, l in newsletter_list %}
      <li>{{ month|date:"F Y" }}
        <ul>
          {% for n in l %}
          <li><a href="{% url 'ficuni:newsletter_detail' n.newsletter_type.slug n.code %}">{{ n.newsletter_type.name }} Nº {{ n.code }}<br/>({{ n.pub_date}})</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
{% endblock %}
