{% extends 'ficuni/base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}
  Horario
{% endblock %}

{% block stylesheets %}
{% render_bundle 'share_schedule' 'css' %}
{% endblock %}

{% block container %}
<h2>
  Horario
</h2>

<div id="root">
Cargando...
</div>
{% endblock %}

{% block javascripts %}
<script>
  const pathTeacherDetail = '/teacher';
  const pathDepartmentDetail = '/department';
  const pathCourseDetail = '/course';
  const pathCourseList = '/courses';
  const pathCourseJson = '/api/courses';
  const pathShareSchedule = '/share-schedule';
  const pathLocationJson = '/api/locations';
</script>
{% render_bundle 'share_schedule' 'js' %}
{% endblock %}
