{% extends 'ficuni/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}
  Docente - {{ teacher.last_name }}, {{ teacher.first_name }}
{% endblock %}

{% block container %}
<h2>
  {{ teacher.grade }} {{ teacher.last_name }}, {{ teacher.first_name }}
  <p class="lead">
    {% for department in teacher.departments.all %}
        {{ department }}
    {% endfor %}
  </p>
</h2>
<div class="row">
  <div class="col-md-3">
    <div class="img-teacher pb-4">
      <img
        class="img-fluid border"
        src="/media/teacher/{{ teacher.code }}.jpg"
        onerror="this.src='{% static 'ficuni/images/foto_no_disponible.jpg' %}'; this.onerror=null;"
        alt="Foto" />
    </div>
    <h3>Categoría</h3>
    <p>
      {{ teacher.category.name }}
    </p>
  </div>
  <div class="col-md-9">
    <h3>Reseña</h3>
    <p class="text-justify">
      {{ teacher.summary }}
    </p>
    <h4>Contacto</h4>
    <p><a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a><p>
    <h3>Docencia</h3>
    <table class="table">
      <thead>
        <th scope="col">Código</th>
        <th scope="col">Curso</th>
        <th scope="col">Sección</th>
      </thead>
      <tbody>
        {% for section in section_list %}
        <tr>
          <td>
            <a href="{% url 'ficuni:course_detail' section.course.code %}">{{ section.course.code }}</a>
          </td>
          <td>
            <a href="{% url 'ficuni:course_detail' section.course.code %}">
                {{ section.course.name }}
            </a>
          </td>
          <td>
            {{ section.section }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Horario</h3>
    <div id="root">Cargando...</div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  const teacherId = '{{ teacher.id }}';
  const pathTeacherDetail = '/teacher';
  const pathCourseDetail = '/course';
  const pathTeacherJson = '/api/teachers';
</script>
{% render_bundle 'teacher_detail' %}
{% endblock %}
